@import "tailwindcss";

@theme {                          /* ลบ inline ออก */
  --color-background: hsl(222 84% 4.9%);
  --color-foreground: hsl(210 40% 98%);

  --color-primary: hsl(217 91% 60%);
  --color-primary-foreground: hsl(222 47% 11%);

  --color-secondary: hsl(217 33% 17%);
  --color-secondary-foreground: hsl(210 40% 98%);

  --color-destructive: hsl(0 63% 31%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-accent: hsl(217 33% 17%);
  --color-accent-foreground: hsl(210 40% 98%);

  --color-border: hsl(217 33% 17%);
  --color-input: hsl(217 33% 17%);
  --color-ring: hsl(217 91% 60%);

  --color-muted: hsl(217 33% 17%);
  --color-muted-foreground: hsl(215 20% 65%);

  --radius: 0.5rem;
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-heading: "Sora", sans-serif;
  --font-body: "Manrope", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}
/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;  
}